# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environments
venv/

# Ignore PyCharm settings
.idea/

# Ignore logs and temp files
*.log
tmp/

# Ignore database files
 *.db

.pkl

.xlsx